name: First Workflow
on: workflow_dispatch

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: A simple bash command
        run: |
          echo "Hello This Is My First Workflow"
      
