name: First Workflow
on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: A simple bash command
        run: |
          echo "Hello This Is My First Workflow"
          echo "The current repo is ${{github.repository}}
      
